.Header {
    transition: background-color 1s, color 1s;
    min-height: 100px;

    display: flex;
    flex-direction: row;
    justify-content: center;

    &--light {
        background-color: lightblue;
        color: #000;
    }
    &--dark {
        background-color: #333;
        color: #fff;
    }
    &--colorful {
        background-color: rgb(0, 97, 139);;
        color: #fff;
    }

    &__Container {
        box-sizing: border-box;
        width: 80%;
    
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}