.Header {
    transition: background-color 1s, color 1s;
    min-height: 100px;

    display: flex;
    flex-direction: row;
    justify-content: center;

    &--light, &--light a {
        background-color: lightblue;
        color: #000;
        text-decoration: none;
    }
    &--dark, &--dark a {
        background-color: #333;
        color: #fff;
        text-decoration: none;
    }
    &--colorful, &--colorful a {
        background-color: rgb(0, 97, 139);;
        color: #fff;
        text-decoration: none;
    }

    &__Container {
        box-sizing: border-box;
        width: 80%;
    
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}