.ColorSchemeCycler {
    border: none;
    background: none;
    cursor: pointer;

    font-size: 1.5em;

    &--light {
        color: #000;
    }
    &--dark {
        color: #fff;
    }
    &--colorful {
        color: #fff;
    }
}